.git
.github
.gitignore
.vscode
.vscode-test
node_modules
.editorconfig
.eslintrc.json
.prettierrc
.prettierignore
tsconfig.json
webpack.config.js
*.vsix
*.log
**/*.map
**/.DS_Store
**/Thumbs.db
**/*.ts
!**/*.d.ts
.yarnrc
yarn.lock
package-lock.json
!assets/logo.svg
!assets/logo-text.svg 